<html>
<meta charset="utf-8">

<link rel="stylesheet" href='../public/style.css' type="text/css" media="all">

<head>
    <script type="text/javascript" src="../public/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="http://ztdnas.dsmynas.com:5000/webman/sso/synoSSO-1.0.0.js"></script>
</head>

<body>
    <h1> Nanotong Connegence-Iot ., Co Ltd</h1>
    <p id='button'></p>
    <input type="button" value="show" class="btn-login" onclick="show_id()">
</body>
<script type="text/javascript" src="../application/controller/action/logincontroller.js"></script>

</html>